@import "~font-awesome/css/font-awesome.css";
figure{
    margin: 0;
}
.navbar{
  border-radius: 0 0 5px 5px;
}
.bg{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.fa{
  color: gray;
}
