<figure id="bgFondo">
  <img src="/assets/imagenes/login-fondo.jpg" class="bg" alt="">
</figure>
<div class="container">
  <div class="text-center" style="position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);" >
    <form (ngSubmit)="procesarFormularioLogin()" name="formLogin" method="post" [formGroup]="formLogin" class="">
      <h3 class="h3 mb-3 font-weight-normal">{{titulo}}</h3>
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="text" formControlName="email" name="email" id="email" class="form-control" [ngClass]="{ 'is-invalid': enviado && f.email.errors }" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" required autofocus />
        <div *ngIf="enviado && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">El correo electrónico es obligatorio</div>
          <div *ngIf="f.email.errors.email">Por favor, ingresa un correo electrónico válido</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" formControlName="password" id="password" class="form-control" required>
        <div *ngIf="enviado && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">La contraseña es obligatoria</div>
        </div>
      </div>
      <div class="form-group">
        <button type="buton" class="btn btn-success">Ingresar</button>
      </div>
    </form>
  </div>
</div> <!-- fin del container -->
