<div class="main__body" style="padding-top: 100px">
  <div class="container">
    <div class="login__page">
      <div class="row">
          <div class="card col-md-4 col-md-offset-4">
            <div class="login__card">
              <div class="card-block">
                  <form (ngSubmit)="procesarFormularioLogin(f)" name="formLogin" method="post" #f="ngForm">
                    <h3 align="center">{{titulo}}</h3>
                    <div class="form-group">
                      <label for="email">Correo electrónico:</label>
                      <input type="email" class="form-control" name="email" id="email" [(ngModel)]="email" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Contraseña:</label>
                      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password" required>
                      <label class="error" *ngIf="!f.valid">Debes introducir un email valido</label>
                    </div>
                    <div class="form-group">
                        <button type="buton" class="btn btn-success">Ingresar</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
      </div>
    </div> <!-- end card -->
  </div>  <!-- end container -->
</div>
